<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            @Html.ActionLink("Serviços Externos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new object() { }, new { @class = "nav-link" })</li>                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @Html.ActionLink("Clientes", "Index", "Clientes", new object() { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Usuários x Fornecedores", "Index", "ApplicationUserFornecedor", new object() { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Fornecedores", "Index", "Fornecedores", new object() { }, new { @class = "dropdown-item" })

                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Serviços", "Index", "Services", new object() { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Dashboard", "Index", "Dashboard", new object() { }, new { @class = "dropdown-item" }) 
                            @Html.ActionLink("Serviços por Período", "Index", "Report", new object() { }, new { @class = "dropdown-item" })
                            
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="body-content" style="margin-top:20px; height:100%;">
        @RenderBody()
   
        <footer style="position: fixed; bottom: 0;  width:100%;">
            <span style="float:right; margin-right:5%;">@@2018 - Johseffer</span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
